
h1{
    color: red;
    }
img{
      width: 400px;
    }
 #thirdDiv{
            background-color: red;
                width: 500;
                height: 600;
                padding: 50px;
                border: 12px solid black;
    }
#spanId{
        font-size: 18px;
         margin: 50px;
    }
