body {
    height: 800px;
    background-image: url("https://resizer.glanacion.com/resizer/-fk7ehIokpSfux2Rx19i2zJAFwE=/1920x0/filters:format(webp):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/lanacionar/YN7OG5GVCBCONPVQO6NIALRWCU.jpg");
  background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }

h1{
    color: red;
    background-color: black;
    display: flex;
    justify-content: center;
    }
h3{
    display: flex;
    justify-content: center;
}    
h4{
    display: flex;
    justify-content: center;
}
img{
      width: 400px;
    }
 #thirdDiv{
            background-color: red;
                width: 500;
                height: 600;
                padding: 50px;
                border: 12px solid black;
                display: block;
                margin-left: auto;
                margin-right: auto ;
                margin-top: 15px;
        }
#spanId{
        font-size: 18px;
         background-color: black;
         color: white;
         display: flex;
         justify-content: center;
         align-items: center;
}
a{
    display: flex;
    justify-content: center;
}
         

   
.divClass{
        background-color: black;
        color: white;
    ;
    }

      
